.nav {
  padding: 0px 100px;
  height: 80px;
  margin-bottom: 45px;
  margin-top: 25px;
  transition: background-color 0.3s ease;
}

.nav-list {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0px 20px;
  margin: 0;
  background-color: white;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
.nav-item {
  padding: 10px 20px;
  font-size: 14px;
  color: black; /* Color de texto para los elementos inactivos */
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.nav-item:hover {
  background-color: var(--main-color); /* Color de fondo al pasar el cursor */
  color: white;
}

.nav-item.active {
  background-color: var(--main-color); /* Color de fondo al pasar el cursor */
  color: white;
}
